{{> headercustomer}}
<div class="wrapper">
    <div class="container mt-3">
        <div class="heading">Member in my rooms</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Identity</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Job</th>
                    <th scope="col">Sex</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                {{#each customers}}
                <tr>
                    <td scope="col">{{this.name}}</td>
                    <td scope="col">{{this.identity}}</td>
                    <td scope="col">{{this.dateofbirth}}</td>
                    <td scope="col">{{this.phone}}</td>
                    <td scope="col">{{this.email}}</td>
                    <td scope="col">{{this.job}}</td>
                    <td scope="col">{{this.sex}}</td>
                    <td scope="col">{{this.note}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>