{{> headercustomer}}
<div class="wrapper">

    <div class="container mt-5">
        Request repair
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-create-request">
            Add new
        </button>
        <div class="container">
            <table class="table table-striped mt-2">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">content</th>
                        <th scope="col">Type</th>
                        <th scope="col">Suitable Time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Price (VND)</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each requests}}
                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{this.content}}</td>
                        <td>{{this.type}}</td>
                        <td>{{this.suitabletime}}</td>
                        <td>{{this.status}}</td>
                        <td>{{this.price}} VND</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <form action="" method="post">
        <div class="modal fade" id="modal-create-request" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add new request</h5>
                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="">Content</label> <br>
                            <textarea class="form-control" name="content" id="" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Type</label>
                            <select name="type" id="" required>
                                <option value="room">Room</option>
                                <option value="device">Device</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Suitable time</label>
                            <input type="datetime-local" name="suitabletime" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div type="button" class="btn btn-secondary" data-dismiss="modal">Close</div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>