{{> headerstaff}}
<div class="container-manager">
    <div class="header__manager">
        <h2>My information</h2>
    </div>
    <ul>
        <li>Username: {{staff.username}}</li>
        <li>Name: {{staff.name}}</li>
        <li>Identity number:{{staff.identity}}</li>
        <li>Sex:{{staff.sex}}</li>
        <li>Phone number: {{staff.phone}}</li>
        <li>Date Of Birth: {{staff.dateofbirth}}</li>
        <li>Email: {{staff.email}}</li>
    </ul>
</div>
</div>