{{> headerstaff}}
<div class="wrapper">
    <div class="container mt-2">
        <div class="card bg-light mb-3">
            <div class="card-header">My information</div>
            <div class="card-body">
                <ul>
                    <li>Username: {{staff.username}}</li>
                    <li>Name: {{staff.name}}</li>
                    <li>Identity number: {{staff.identity}}</li>
                    <li>Sex: {{staff.sex}}</li>
                    <li>Phone number: {{staff.phone}}</li>
                    <li>Date Of Birth: {{staff.dateofbirth}}</li>
                    <li>Email: {{staff.email}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>