{{> headerstaff}}

<div class="container-manager">
    <div class="header__manager">
        <h2>Jobs</h2>

    </div>
    <div class="content__manager">
        <table>
            <thead>
                <th>Room</th>
                <th>Description</th>
                <th>Start day</th>
                <th>End day</th>
                <th>Price</th>
                <th></th>
            </thead>
            <tbody id="accounts">
                {{#each jobs}}
                <tr>
                    <td>{{this.room}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.startday}}</td>
                    <td>{{this.endday}}</td>
                    <td>{{this.price}}</td>
                    {{{handleMyJobStaff this.status this._id}}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>