{{> header}}
<div class="wrapper">
    <div class="container mt-4">
        <div class="heading">Manage Staff <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#modal-add-staff">Add</button></div>
        <div class="staffs mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Full name</th>
                        <th scope="col">Identity</th>
                        <th scope="col">Sex</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">Email</th>
                        <th scope="col">Status</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each staffs}}
                    <tr>
                        <th scope="row">{{this.username}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.identity}}</td>
                        <td>{{this.sex}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.dateofbirth}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.status}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm edit" data-id="{{this._id}}" data-name="{{this.name}}"
                                data-username="{{this.username}}" data-identity="{{this.identity}}"
                                data-phone="{{this.phone}}" data-sex="{{this.sex}}"
                                data-dateofbirth="{{this.dateofbirth}}" data-email="{{this.email}}"
                                data-status="{{this.status}}" data-toggle="modal" data-target="#modal-edit-staff"><i
                                    class="fas fa-edit"></i></button>
                            <button class="btn btn-success btn-sm view" data-id="{{this._id}}" data-name="{{this.name}}"
                                data-identity="{{this.identity}}" data-phone="{{this.phone}}"
                                data-username="{{this.username}}" data-dateofbirth="{{this.dateofbirth}}"
                                data-email="{{this.email}}" data-sex="{{this.sex}}" data-status="{{this.status}}"
                                data-toggle="modal" data-target="#modal-view-staff"><i class="fas fa-eye"></i></button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <form action="" method="post">
        <div class="modal fade" id="modal-add-staff" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add new staff</h5>
                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex">
                            <div class="form-group mx-2">
                                <label for="">Username</label>
                                <input type="text" placeholder="Username" class="form-control" name="username" required>
                            </div>
                            <div class="form-group mx-2">
                                <label for="">Full name</label>
                                <input type="text" placeholder="Full name" name="name" required>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-group mx-2">
                                <label for="">Identity card number</label>
                                <input type="text" placeholder="Identity" class="form-control" name="identity" required>
                            </div>
                            <div class="form-group mx-2">
                                <label for="">Sex</label>
                                <select name="sex" required>
                                    <option value="female">female</option>
                                    <option value="male">male</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-group mx-2">
                                <label for="">Phone number</label>
                                <input type="text" placeholder="Phone number" class="form-control" name="phone"
                                    required>
                            </div>
                            <div class="form-group mx-2">
                                <label for="">Date of birth</label>
                                <input type="date" name="dateofbirth" required>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-group mx-2">
                                <label for="">Email</label>
                                <input type="text" name="email" placeholder="email">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div type="button" class="btn btn-secondary" data-dismiss="modal">Close</div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {{!-- VIEW --}}
    <div class="modal fade" id="modal-view-staff" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Staff data</h5>
                    <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="d-flex">
                        <div class="form-group mx-2">
                            <label for="">Username</label>
                            <input type="text" placeholder="Username" id="username-view" class="form-control"
                                name="username" disabled>
                        </div>
                        <div class="form-group mx-2">
                            <label for="">Full name</label>
                            <input type="text" placeholder="Full name" id="name-view" name="name" disabled>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="form-group mx-2">
                            <label for="">Identity card number</label>
                            <input type="text" placeholder="Identity" id="identity-view" name="identity"
                                class="form-control" name="identity" disabled>
                        </div>
                        <div class="form-group mx-2">
                            <label for="">Sex</label>
                            <input type="text" class="form-control" disabled id="sex-view">
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="form-group mx-2">
                            <label for="">Phone number</label>
                            <input type="text" placeholder="Phone number" id="phone-view" class="form-control"
                                name="phone" disabled>
                        </div>
                        <div class="form-group mx-2">
                            <label for="">Date of birth</label>
                            <input type="date" name="dateofbirth" id="dateofbirth-view" disabled>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="form-group mx-2">
                            <label for="">Email</label>
                            <input type="text" name="email" id="email-view" placeholder="email" disabled>
                        </div>
                        <div class="form-group mx-2">
                            <label for="">Status</label>
                            <input type="text" name="email" id="status-view" placeholder="status" disabled>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div type="button" class="btn btn-secondary" data-dismiss="modal">Close</div>
                </div>
            </div>
        </div>
    </div>

    {{!-- EDIT --}}
    <form action="/admin/update-staff" method="post">
        <div class="modal fade" id="modal-edit-staff" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit staff information</h5>
                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex">
                            <div class="form-group mx-2">
                                <label for="">Username</label>
                                <input type="text" placeholder="Username" id="username-edit" class="form-control"
                                    name="username" disabled>
                                <input type="hidden" placeholder="Username" id="username-edit-v2" class="form-control"
                                    name="username">
                            </div>
                            <div class="form-group mx-2">
                                <label for="">Full name</label>
                                <input type="text" placeholder="Full name" id="name-edit" name="name" required>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-group mx-2">
                                <label for="">Identity card number</label>
                                <input type="text" placeholder="Identity" id="identity-edit" name="identity"
                                    class="form-control" name="identity" required>
                            </div>
                            <div class="form-group mx-2">
                                <label for="">Sex</label>
                                <select name="sex" class="form-control" required>
                                    <option value="" id="sex-edit"></option>
                                    <option value="female">female</option>
                                    <option value="male">male</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-group mx-2">
                                <label for="">Phone number</label>
                                <input type="text" placeholder="Phone number" id="phone-edit" class="form-control"
                                    name="phone" required>
                            </div>
                            <div class="form-group mx-2">
                                <label for="">Date of birth</label>
                                <input type="date" name="dateofbirth" id="dateofbirth-edit" required>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-group mx-2">
                                <label for="">Email</label>
                                <input type="text" name="email" id="email-edit" placeholder="email" required>
                            </div>
                            <div class="form-group mx-2">
                                <label for="">Status</label>
                                <select name="status" required>
                                    <option value="" id="status-edit"></option>
                                    <option value="working">working</option>
                                    <option value="notworking">not working</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div type="button" class="btn btn-secondary" data-dismiss="modal">Close</div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script>
    let usernameViewBox = document.getElementById('username-view')
    let nameViewBox = document.getElementById('name-view')
    let phoneViewBox = document.getElementById('phone-view')
    let identityViewBox = document.getElementById('identity-view')
    let sexViewBox = document.getElementById('sex-view')
    let dateofbirthViewBox = document.getElementById('dateofbirth-view')
    let emailViewBox = document.getElementById("email-view")
    let statusViewBox = document.getElementById('status-view')
    let views = document.querySelectorAll('.view')
    views.forEach(item => {
        item.onclick = (e) => {
            let id = item.getAttribute('data-id')
            let name = item.getAttribute('data-name')
            let username = item.getAttribute('data-username')
            let identity = item.getAttribute('data-identity')
            let sex = item.getAttribute('data-sex')
            let phone = item.getAttribute('data-phone')
            let dateofbirth = item.getAttribute('data-dateofbirth')
            let email = item.getAttribute('data-email')
            let status = item.getAttribute('data-status')
            usernameViewBox.value = username
            nameViewBox.value = name
            identityViewBox.value = identity
            sexViewBox.value = sex
            phoneViewBox.value = phone
            dateofbirthViewBox.value = dateofbirth
            emailViewBox.value = email
            statusViewBox.value = status
        }
    })


    let usernameEditBox = document.getElementById('username-edit')
    let usernameEditBoxV2 = document.getElementById('username-edit-v2')
    let nameEditBox = document.getElementById('name-edit')
    let phoneEditBox = document.getElementById('phone-edit')
    let identityEditBox = document.getElementById('identity-edit')
    let sexEditBox = document.getElementById('sex-edit')
    let dateofbirthEditBox = document.getElementById('dateofbirth-edit')
    let emailEditBox = document.getElementById("email-edit")
    let statusEditBox = document.getElementById('status-edit')
    let edits = document.querySelectorAll('.edit')
    edits.forEach(item => {
        item.onclick = (e) => {
            let id = item.getAttribute('data-id')
            let name = item.getAttribute('data-name')
            let username = item.getAttribute('data-username')
            let identity = item.getAttribute('data-identity')
            let sex = item.getAttribute('data-sex')
            let phone = item.getAttribute('data-phone')
            let dateofbirth = item.getAttribute('data-dateofbirth')
            let email = item.getAttribute('data-email')
            let status = item.getAttribute('data-status')
            usernameEditBox.value = username
            usernameEditBoxV2.value = username
            nameEditBox.value = name
            identityEditBox.value = identity
            sexEditBox.value = sex
            sexEditBox.innerHTML = sex
            phoneEditBox.value = phone
            dateofbirthEditBox.value = dateofbirth
            emailEditBox.value = email
            statusEditBox.value = status
            statusEditBox.innerHTML = status
        }
    })
</script>